body {
	box-sizing: border-box;
	padding: 4px 5%;
	font-family: arial;
	font-size: 18px;
}

.tophead h1 {
	font-weight: bold;
}

input[type=text], input[type=email] {
	width: 800px;
	padding: 8px 20px;
	margin: 0;
}

select {
	width: 842px;
	padding: 8px 20px;
	margin: 0;
}

textarea {
	width: 840px;
}

input[type=submit] {
	padding: 10px 20px;
	border: solid #0086a4;
	background-color: #0086a4;
	color: white;
}

input[type=submit]:hover {
	background-color: #003845;
}

h1, h3 {
	color: #0086a4;
}

@media screen and (max-width: 986px) {
	body {
		padding: 4px 40px;
	}

	input[type=text], input[type=email] {
	width: 600px;
    }

    select {
	width: 642px;
    }

    textarea {
	width: 636px;
    }
}

.error {
	color: red;
}

.messagestable {
	width: 100%;
}

@media screen and (max-width: 770px) {
	body {
		padding: 4px 5px;
	}
	input[type=text], input[type=email] {
	width: 85%;
    }

    select {
	width: 93%;
    }

    textarea {
	width: 92%;
    }
}